# Import packages

In [1]:
import pandas as pd
import numpy as np

import copy

# Custom function

# Import data

In [183]:
largenet_price_df = pd.read_csv('./Data/Large_network/Demirer_stock_prices.csv')

print(largenet_price_df.head())

print(largenet_price_df.shape)

         Date        JPM        BAC          C        WFC          GS  \
0  2010-01-04  32.323208  13.731325  30.160183  20.225887  147.118881
1  2010-01-05  32.949322  14.177655  31.313356  20.781136  149.719818
2  2010-01-06  33.130344  14.343938  32.289139  20.810753  148.121780
3  2010-01-07  33.786621  14.816527  32.377846  21.565891  151.020355
4  2010-01-08  33.703640  14.685253  31.845606  21.365999  148.164291

          MS         BK        USB        PNC  ...     D05.SI     U11.SI  \
0  25.570005  22.653957  17.632248  41.086712  ...  10.017633  13.692189
1  26.504782  22.894192  18.079212  41.501339  ...  10.148582  13.664332
2  26.843952  22.549856  18.271877  41.501339  ...  10.148582  13.859340
3  27.232754  23.502777  18.626371  43.751095  ...  10.030727  13.859340
4  26.678505  23.646927  18.657194  43.866280  ...  10.070014  13.873263

   EBS.VI  DANSKE.CO        ETE.AT   INGA.AS     DNB.OL  SBER.ME  ISCTR.IS  \
0     NaN  78.602135  25258.900391  5.234131  41.739815      NaN       NaN
1     NaN  81.200203  26949.400391  5.335646  41.188480      NaN       NaN
2     NaN  82.174561           NaN  5.344286  41.220909      NaN       NaN
3     NaN  84.773346  27382.500000  5.471720  41.318207      NaN       NaN
4     NaN  86.072029  28108.900391  5.594112  43.069534      NaN       NaN

        SBK.JO
0  6110.417969
1  6257.911133
2  6248.880371
3  6200.720215
4  6200.117676

[5 rows x 87 columns]
(2863, 87)

# Data preprocessing

## Parameters

In [184]:
start_date = '2012-01-01'
nan_drop_thresh = 0.8
max_gap_allowed = 10

## Filter by Date

In [185]:
largenet_price_df = largenet_price_df[largenet_price_df.Date > start_date]

print(largenet_price_df.shape)

(2343, 87)

## Set Date as index

In [186]:
largenet_price_df = largenet_price_df.set_index('Date')

print(largenet_price_df.head())

                  JPM       BAC          C        WFC         GS         MS  \
Date
2012-01-02        NaN       NaN        NaN        NaN        NaN        NaN
2012-01-03  27.060522  5.115416  25.151731  21.559872  82.778442  13.519601
2012-01-04  27.231941  5.124233  25.009682  21.658457  82.240227  13.401896
2012-01-05  27.800735  5.565219  25.311543  22.007292  82.101357  13.687759
2012-01-06  27.551395  5.450563  25.347055  21.946625  81.094398  13.368262

                   BK        USB        PNC        COF  ...    D05.SI  \
Date                                                    ...
2012-01-02        NaN        NaN        NaN        NaN  ...       NaN
2012-01-03  16.952410  21.852377  46.564701  37.324905  ...  8.118500
2012-01-04  17.010269  21.844450  46.714569  37.964756  ...  8.229521
2012-01-05  17.150780  22.169308  47.179993  38.544888  ...  8.187888
2012-01-06  16.902815  21.987070  47.258865  38.527828  ...  8.229521

               U11.SI  EBS.VI  DANSKE.CO  ETE.AT   INGA.AS     DNB.OL  \
Date
2012-01-02        NaN     NaN  53.562046  2370.0  4.109549  40.795673
2012-01-03  11.537395     NaN  54.404442  2190.0  4.162107  40.311249
2012-01-04  11.663527     NaN  52.930256  2220.0  4.103069  39.757614
2012-01-05  11.596751     NaN  52.649452  2160.0  3.959797  40.034431
2012-01-06  11.433520     NaN  52.052765     NaN  3.927399  39.896027

            SBER.ME  ISCTR.IS       SBK.JO
Date
2012-01-02      NaN  2.677510  6394.367188
2012-01-03      NaN  2.845856  6501.858398
2012-01-04      NaN  2.717593  6540.061523
2012-01-05      NaN  2.693543  6468.833008
2012-01-06      NaN  2.645444  6519.987793

[5 rows x 86 columns]

## Log return

In [187]:
cols = largenet_price_df.columns

largenet_return_df = copy.deepcopy(largenet_price_df)

for col in cols:
    largenet_return_df[col] = np.log(largenet_price_df[col]) - np.log(largenet_price_df[col].shift(1))

In [188]:
print("===")
print(largenet_price_df['8331.T'].iloc[:10])

print("===")

print(largenet_return_df['8331.T'].iloc[:10])

===
Date
2012-01-02           NaN
2012-01-03           NaN
2012-01-04    416.442047
2012-01-05    409.049622
2012-01-06    404.942688
2012-01-09           NaN
2012-01-10    405.764038
2012-01-11    408.228180
2012-01-12    405.764038
2012-01-13    402.478485
Name: 8331.T, dtype: float64
===
Date
2012-01-02         NaN
2012-01-03         NaN
2012-01-04         NaN
2012-01-05   -0.017911
2012-01-06   -0.010091
2012-01-09         NaN
2012-01-10         NaN
2012-01-11    0.006054
2012-01-12   -0.006054
2012-01-13   -0.008130
Name: 8331.T, dtype: float64

## Drop columns with all NaN-s

In [189]:
print(largenet_return_df.shape)
largenet_return_df = largenet_return_df.dropna(axis=1, how='all')
largenet_return_df = largenet_return_df.dropna(axis=0, how='all')
print(largenet_return_df.shape)

(2343, 86)
(2342, 86)

In [190]:
thresh = nan_drop_thresh * len(largenet_return_df)
largenet_return_df.dropna(thresh = thresh, axis = 1, inplace = True)

In [191]:
largenet_return_df = largenet_return_df.replace({np.nan: None})

In [192]:
print(largenet_return_df.head())

print(largenet_return_df.shape)

                   JPM         BAC           C         WFC          GS  \
Date
2012-01-03        None        None        None        None        None
2012-01-04  0.00631467  0.00172213 -0.00566369  0.00456219  -0.0065231
2012-01-05   0.0206719   0.0825555   0.0119975   0.0159779 -0.00169002
2012-01-06 -0.00900929  -0.0208174  0.00140201 -0.00276048  -0.0123407
2012-01-09  -0.0016978   0.0144579   0.0183937   0.0123632    0.013503

                    MS          BK          USB         PNC          COF  ...  \
Date                                                                      ...
2012-01-03        None        None         None        None         None  ...
2012-01-04 -0.00874437  0.00340721 -0.000362818  0.00321332    0.0169975  ...
2012-01-05   0.0211057  0.00822643    0.0147619  0.00991384    0.0151652  ...
2012-01-06  -0.0236185  -0.0145635  -0.00825426  0.00167033 -0.000442699  ...
2012-01-09   0.0186923   0.0208086    0.0175038  0.00814554    0.0238499  ...

               BCP.LS      D05.SI      U11.SI EBS.VI   DANSKE.CO     INGA.AS  \
Date
2012-01-03  0.0477914        None        None   None   0.0156051   0.0127081
2012-01-04  -0.127842   0.0135824   0.0108731   None  -0.0274707  -0.0142862
2012-01-05 -0.0870018 -0.00507182 -0.00574165   None -0.00531929  -0.0355425
2012-01-06   0.116862  0.00507182  -0.0141756   None  -0.0113979 -0.00821539
2012-01-09  0.0361098 -0.00846759  -0.0163562   None  0.00470897  0.00639546

                DNB.OL SBER.ME    ISCTR.IS      SBK.JO
Date
2012-01-03  -0.0119455    None   0.0609766   0.0166706
2012-01-04  -0.0138292    None  -0.0461173  0.00585853
2012-01-05  0.00693849    None -0.00888913  -0.0109509
2012-01-06 -0.00346311    None  -0.0180185  0.00787678
2012-01-09  -0.0026053    None  -0.0307717 -0.00687631

[5 rows x 82 columns]
(2342, 82)

In [193]:
largenet_return_df.describe()

,JPM,BAC,C,WFC,GS,MS,BK,USB,PNC,COF,...,BCP.LS,D05.SI,U11.SI,EBS.VI,DANSKE.CO,INGA.AS,DNB.OL,SBER.ME,ISCTR.IS,SBK.JO
count,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,...,2259.0,2173.0,2173.0,2042.0,2175.0,2258.0,2192.0,2175.0,2318.0,2276.0
unique,2162.0,2133.0,2169.0,2156.0,2176.0,2161.0,2159.0,2153.0,2164.0,2169.0,...,2046.0,2086.0,2102.0,2004.0,2103.0,2245.0,2132.0,2155.0,2076.0,2204.0
top,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
freq,16.0,44.0,10.0,22.0,3.0,16.0,20.0,23.0,14.0,9.0,...,117.0,76.0,63.0,33.0,58.0,14.0,52.0,20.0,171.0,73.0

In [194]:
print(largenet_return_df.shape)

(2342, 82)

## Gap analysis

In [195]:
n,d = largenet_return_df.shape

In [196]:
cols_to_drop = []

for i in range(0,d):
    ticker = cols[i]
    current_gap = 0
    for j in range(0,n):
        if current_gap == 0:
            if largenet_return_df.iloc[j,i] == None:
                #print("Hello")
                current_gap += 1
                
        else:
            if j > 1:
                if (largenet_return_df.iloc[j,i] == None) & (largenet_return_df.iloc[j-1,i] == None):
                    current_gap += 1

                else:
                    current_gap = 0
                
        if (current_gap > max_gap_allowed) & (ticker not in cols_to_drop):
            #print(ticker)
            cols_to_drop.append(ticker)

In [197]:
print("Number of tickers to drop: {}".format(len(cols_to_drop)))

Number of tickers to drop: 6

In [198]:
# Drop columns with too large gaps
largenet_return_df = largenet_return_df.drop(columns=cols_to_drop)

print(largenet_return_df.shape)

(2342, 76)

## Impute missing return values

In [211]:
df = copy.deepcopy(largenet_return_df) #.iloc[:100,:30]

df = df.replace({np.nan: None})

In [212]:
print(df.shape)

n,d = df.shape

(2342, 76)

In [213]:
print("===")
print(largenet_price_df['8331.T'].iloc[:10])

print("===")

print(df['8331.T'].iloc[:10])

===
Date
2012-01-02           NaN
2012-01-03           NaN
2012-01-04    416.442047
2012-01-05    409.049622
2012-01-06    404.942688
2012-01-09           NaN
2012-01-10    405.764038
2012-01-11    408.228180
2012-01-12    405.764038
2012-01-13    402.478485
Name: 8331.T, dtype: float64
===
Date
2012-01-03         NaN
2012-01-04         NaN
2012-01-05   -0.017911
2012-01-06   -0.010091
2012-01-09         NaN
2012-01-10         NaN
2012-01-11    0.006054
2012-01-12   -0.006054
2012-01-13   -0.008130
2012-01-16   -0.008197
Name: 8331.T, dtype: float64

In [214]:
# Check whether there are any missing values
df.isna().sum()

JPM         164
BAC         164
C           164
WFC         164
GS          164
           ...
INGA.AS      84
DNB.OL      150
SBER.ME     167
ISCTR.IS     24
SBK.JO       66
Length: 76, dtype: int64

In [216]:
display(df)

,JPM,BAC,C,WFC,GS,MS,BK,USB,PNC,COF,...,BANKBARODA.NS,D05.SI,U11.SI,EBS.VI,DANSKE.CO,INGA.AS,DNB.OL,SBER.ME,ISCTR.IS,SBK.JO
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.046850,NaN,NaN,NaN,0.015605,0.012708,-0.011945,NaN,0.060977,0.016671
2012-01-04,0.006315,0.001722,-0.005664,0.004562,-0.006523,-0.008744,0.003407,-0.000363,0.003213,0.016997,...,0.001142,0.013582,0.010873,NaN,-0.027471,-0.014286,-0.013829,NaN,-0.046117,0.005859
2012-01-05,0.020672,0.082555,0.011998,0.015978,-0.001690,0.021106,0.008226,0.014762,0.009914,0.015165,...,-0.009243,-0.005072,-0.005742,NaN,-0.005319,-0.035542,0.006938,NaN,-0.008889,-0.010951
2012-01-06,-0.009009,-0.020817,0.001402,-0.002760,-0.012341,-0.023619,-0.014563,-0.008254,0.001670,-0.000443,...,0.010953,0.005072,-0.014176,NaN,-0.011398,-0.008215,-0.003463,NaN,-0.018019,0.007877
2012-01-09,-0.001698,0.014458,0.018394,0.012363,0.013503,0.018692,0.020809,0.017504,0.008146,0.023850,...,-0.009155,-0.008468,-0.016356,NaN,0.004709,0.006395,-0.002605,NaN,-0.030772,-0.006876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-17,-0.008322,0.003823,0.005008,-0.006089,0.002704,0.006827,-0.000989,-0.001545,-0.001585,0.005222,...,-0.039944,-0.007461,-0.006108,-0.001974,-0.016512,-0.001258,-0.001564,-0.000288,0.001489,NaN
2020-12-18,-0.004942,-0.005565,-0.016624,-0.015732,-0.009454,-0.007606,0.009360,-0.009319,-0.000759,-0.027042,...,-0.011032,-0.011098,-0.007027,-0.013930,0.017331,-0.008723,0.011514,-0.028520,0.005935,0.018028
2020-12-21,0.036850,0.036642,0.036083,0.018443,0.059524,0.055313,0.015327,0.010423,-0.002142,0.039821,...,-0.070579,0.004375,-0.003974,-0.037155,0.020649,-0.061260,-0.023479,-0.038543,-0.026988,-0.049631
2020-12-22,-0.015334,-0.017982,-0.032703,-0.020168,-0.027177,-0.017700,-0.027909,0.005719,-0.006035,-0.003153,...,0.000000,-0.005970,-0.000885,0.024246,-0.013515,0.024930,0.014153,0.010670,0.016579,0.000000
2020-12-23,0.030037,0.034489,0.027134,0.048363,0.030867,0.027383,0.019058,0.025874,0.020862,0.020630,...,0.029328,0.000798,0.002212,0.012508,0.029220,0.033405,0.031358,0.022420,0.004474,0.013011

In [217]:
for i in range(0,d):
    #print("COL")
    #print(i)
    
    j = 0
    while j < n:
        
        #print("ROW")
        #print(j)
        
        if j == 0:
            # Impute overall average return if first value is missing
            k = j
            while np.isnan(df.iloc[k,i]):
                k += 1
                #print("INNER ROW")
                #print(k)
                
                
            if k > j:
                
                df.iloc[j:k,i] = np.nanmean(df.iloc[:,i].astype(float))
                
                # Increment the counter
                j = k
                
            else:
                
                j += 1
        
        else:
            k = j
            while np.isnan(df.iloc[k,i]):
                k += 1
                
            if k > j:
            
                # Get dates with the valid price data
                start_date = df.index[j-1]
                end_date = df.index[k]

                #print(start_date)
                #print(end_date)

                # Get valid prices
                start_price = largenet_price_df.loc[start_date][cols[i]]
                end_price = largenet_price_df.loc[end_date][cols[i]]

                # Compute daily log returns
                daily_return = np.log(end_price/start_price) / (k-j)
                if np.isnan(daily_return):
                    daily_return = np.nanmean(df.iloc[:,i].astype(float))
                    #print(daily_return)
                    #print("problem at {}, date {}".format(cols[i],largenet_price_df.index[j]))

                # Impute the computed values
                df.iloc[j:k,i] = daily_return

                # Increment the counter
                j = k
                
            else:
                j += 1

In [220]:
# Check whether there are any missing values
assert(sum(df.isna().sum())==0)

In [223]:
display(df)

,JPM,BAC,C,WFC,GS,MS,BK,USB,PNC,COF,...,BANKBARODA.NS,D05.SI,U11.SI,EBS.VI,DANSKE.CO,INGA.AS,DNB.OL,SBER.ME,ISCTR.IS,SBK.JO
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-03,0.000737,0.000791,0.000414,0.000180,0.000494,0.000759,0.000396,0.000389,0.000572,0.000500,...,0.046850,0.000558,0.000368,0.000361,0.015605,0.012708,-0.011945,0.000776,0.060977,0.016671
2012-01-04,0.006315,0.001722,-0.005664,0.004562,-0.006523,-0.008744,0.003407,-0.000363,0.003213,0.016997,...,0.001142,0.013582,0.010873,0.000361,-0.027471,-0.014286,-0.013829,0.000776,-0.046117,0.005859
2012-01-05,0.020672,0.082555,0.011998,0.015978,-0.001690,0.021106,0.008226,0.014762,0.009914,0.015165,...,-0.009243,-0.005072,-0.005742,0.000361,-0.005319,-0.035542,0.006938,0.000776,-0.008889,-0.010951
2012-01-06,-0.009009,-0.020817,0.001402,-0.002760,-0.012341,-0.023619,-0.014563,-0.008254,0.001670,-0.000443,...,0.010953,0.005072,-0.014176,0.000361,-0.011398,-0.008215,-0.003463,0.000776,-0.018019,0.007877
2012-01-09,-0.001698,0.014458,0.018394,0.012363,0.013503,0.018692,0.020809,0.017504,0.008146,0.023850,...,-0.009155,-0.008468,-0.016356,0.000361,0.004709,0.006395,-0.002605,0.000776,-0.030772,-0.006876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-17,-0.008322,0.003823,0.005008,-0.006089,0.002704,0.006827,-0.000989,-0.001545,-0.001585,0.005222,...,-0.039944,-0.007461,-0.006108,-0.001974,-0.016512,-0.001258,-0.001564,-0.000288,0.001489,-0.015595
2020-12-18,-0.004942,-0.005565,-0.016624,-0.015732,-0.009454,-0.007606,0.009360,-0.009319,-0.000759,-0.027042,...,-0.011032,-0.011098,-0.007027,-0.013930,0.017331,-0.008723,0.011514,-0.028520,0.005935,0.018028
2020-12-21,0.036850,0.036642,0.036083,0.018443,0.059524,0.055313,0.015327,0.010423,-0.002142,0.039821,...,-0.070579,0.004375,-0.003974,-0.037155,0.020649,-0.061260,-0.023479,-0.038543,-0.026988,-0.049631
2020-12-22,-0.015334,-0.017982,-0.032703,-0.020168,-0.027177,-0.017700,-0.027909,0.005719,-0.006035,-0.003153,...,0.000000,-0.005970,-0.000885,0.024246,-0.013515,0.024930,0.014153,0.010670,0.016579,0.000000
2020-12-23,0.030037,0.034489,0.027134,0.048363,0.030867,0.027383,0.019058,0.025874,0.020862,0.020630,...,0.029328,0.000798,0.002212,0.012508,0.029220,0.033405,0.031358,0.022420,0.004474,0.013011

In [225]:
print(df.shape)

(2342, 76)

# Export final dataset

In [224]:
df.to_csv('./Data/Large_network/largenet_log_ret.csv')