# Import packages

In [1]:
import pandas as pd
import numpy as np

# Custom function

# Import data

In [131]:
largenet_df = pd.read_csv('./Data/Large_network/Demirer_stock_prices.csv')

print(largenet_df.head())

print(largenet_df.shape)

         Date        JPM        BAC          C        WFC          GS  \
0  2010-01-04  32.323208  13.731325  30.160183  20.225887  147.118881
1  2010-01-05  32.949322  14.177655  31.313356  20.781136  149.719818
2  2010-01-06  33.130344  14.343938  32.289139  20.810753  148.121780
3  2010-01-07  33.786621  14.816527  32.377846  21.565891  151.020355
4  2010-01-08  33.703640  14.685253  31.845606  21.365999  148.164291

          MS         BK        USB        PNC  ...     D05.SI     U11.SI  \
0  25.570005  22.653957  17.632248  41.086712  ...  10.017633  13.692189
1  26.504782  22.894192  18.079212  41.501339  ...  10.148582  13.664332
2  26.843952  22.549856  18.271877  41.501339  ...  10.148582  13.859340
3  27.232754  23.502777  18.626371  43.751095  ...  10.030727  13.859340
4  26.678505  23.646927  18.657194  43.866280  ...  10.070014  13.873263

   EBS.VI  DANSKE.CO        ETE.AT   INGA.AS     DNB.OL  SBER.ME  ISCTR.IS  \
0     NaN  78.602135  25258.900391  5.234131  41.739815      NaN       NaN
1     NaN  81.200203  26949.400391  5.335646  41.188480      NaN       NaN
2     NaN  82.174561           NaN  5.344286  41.220909      NaN       NaN
3     NaN  84.773346  27382.500000  5.471720  41.318207      NaN       NaN
4     NaN  86.072029  28108.900391  5.594112  43.069534      NaN       NaN

        SBK.JO
0  6110.417969
1  6257.911133
2  6248.880371
3  6200.720215
4  6200.117676

[5 rows x 87 columns]
(2863, 87)

# Data preprocessing

## Parameters

In [144]:
start_date = '2012-01-01'
nan_drop_thresh = 0.9
max_gap_allowed = 3

## Filter by Date

In [134]:
largenet_df = largenet_df[largenet_df.Date > start_date]

print(largenet_df.shape)

(2343, 87)

## Set Date as index

In [136]:
largenet_df = largenet_df.set_index('Date')

print(largenet_df.head())

                  JPM       BAC          C        WFC         GS         MS  \
Date
2012-01-02        NaN       NaN        NaN        NaN        NaN        NaN
2012-01-03  27.060522  5.115416  25.151731  21.559872  82.778442  13.519601
2012-01-04  27.231941  5.124233  25.009682  21.658457  82.240227  13.401896
2012-01-05  27.800735  5.565219  25.311543  22.007292  82.101357  13.687759
2012-01-06  27.551395  5.450563  25.347055  21.946625  81.094398  13.368262

                   BK        USB        PNC        COF  ...    D05.SI  \
Date                                                    ...
2012-01-02        NaN        NaN        NaN        NaN  ...       NaN
2012-01-03  16.952410  21.852377  46.564701  37.324905  ...  8.118500
2012-01-04  17.010269  21.844450  46.714569  37.964756  ...  8.229521
2012-01-05  17.150780  22.169308  47.179993  38.544888  ...  8.187888
2012-01-06  16.902815  21.987070  47.258865  38.527828  ...  8.229521

               U11.SI  EBS.VI  DANSKE.CO  ETE.AT   INGA.AS     DNB.OL  \
Date
2012-01-02        NaN     NaN  53.562046  2370.0  4.109549  40.795673
2012-01-03  11.537395     NaN  54.404442  2190.0  4.162107  40.311249
2012-01-04  11.663527     NaN  52.930256  2220.0  4.103069  39.757614
2012-01-05  11.596751     NaN  52.649452  2160.0  3.959797  40.034431
2012-01-06  11.433520     NaN  52.052765     NaN  3.927399  39.896027

            SBER.ME  ISCTR.IS       SBK.JO
Date
2012-01-02      NaN  2.677510  6394.367188
2012-01-03      NaN  2.845856  6501.858398
2012-01-04      NaN  2.717593  6540.061523
2012-01-05      NaN  2.693543  6468.833008
2012-01-06      NaN  2.645444  6519.987793

[5 rows x 86 columns]

## Log return

In [137]:
cols = largenet_df.columns

for col in cols:
    largenet_df[col] = np.log(largenet_df[col]) - np.log(largenet_df[col].shift(1))

## Drop columns with all NaN-s

In [138]:
print(largenet_df.shape)
largenet_df = largenet_df.dropna(axis=1, how='all')
largenet_df = largenet_df.dropna(axis=0, how='all')
print(largenet_df.shape)

(2343, 86)
(2342, 86)

In [139]:
thresh = nan_drop_thresh * len(largenet_df)
largenet_df.dropna(thresh = thresh, axis = 1, inplace = True)

In [140]:
largenet_df = largenet_df.replace({np.nan: None})

In [141]:
print(largenet_df.head())

print(largenet_df.shape)

                   JPM         BAC           C         WFC          GS  \
Date
2012-01-03        None        None        None        None        None
2012-01-04  0.00631467  0.00172213 -0.00566369  0.00456219  -0.0065231
2012-01-05   0.0206719   0.0825555   0.0119975   0.0159779 -0.00169002
2012-01-06 -0.00900929  -0.0208174  0.00140201 -0.00276048  -0.0123407
2012-01-09  -0.0016978   0.0144579   0.0183937   0.0123632    0.013503

                    MS          BK          USB         PNC          COF  ...  \
Date                                                                      ...
2012-01-03        None        None         None        None         None  ...
2012-01-04 -0.00874437  0.00340721 -0.000362818  0.00321332    0.0169975  ...
2012-01-05   0.0211057  0.00822643    0.0147619  0.00991384    0.0151652  ...
2012-01-06  -0.0236185  -0.0145635  -0.00825426  0.00167033 -0.000442699  ...
2012-01-09   0.0186923   0.0208086    0.0175038  0.00814554    0.0238499  ...

              BIRG.IR     BCP.LS      D05.SI      U11.SI   DANSKE.CO  \
Date
2012-01-03       None  0.0477914        None        None   0.0156051
2012-01-04 -0.0238108  -0.127842   0.0135824   0.0108731  -0.0274707
2012-01-05          0 -0.0870018 -0.00507182 -0.00574165 -0.00531929
2012-01-06 -0.0121212   0.116862  0.00507182  -0.0141756  -0.0113979
2012-01-09          0  0.0361098 -0.00846759  -0.0163562  0.00470897

               INGA.AS      DNB.OL SBER.ME    ISCTR.IS      SBK.JO
Date
2012-01-03   0.0127081  -0.0119455    None   0.0609766   0.0166706
2012-01-04  -0.0142862  -0.0138292    None  -0.0461173  0.00585853
2012-01-05  -0.0355425  0.00693849    None -0.00888913  -0.0109509
2012-01-06 -0.00821539 -0.00346311    None  -0.0180185  0.00787678
2012-01-09  0.00639546  -0.0026053    None  -0.0307717 -0.00687631

[5 rows x 74 columns]
(2342, 74)

In [142]:
largenet_df.describe()

,JPM,BAC,C,WFC,GS,MS,BK,USB,PNC,COF,...,BIRG.IR,BCP.LS,D05.SI,U11.SI,DANSKE.CO,INGA.AS,DNB.OL,SBER.ME,ISCTR.IS,SBK.JO
count,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,2178.0,...,2236.0,2259.0,2173.0,2173.0,2175.0,2258.0,2192.0,2175.0,2318.0,2276.0
unique,2162.0,2133.0,2169.0,2156.0,2176.0,2161.0,2159.0,2153.0,2164.0,2169.0,...,1940.0,2046.0,2086.0,2102.0,2103.0,2245.0,2132.0,2155.0,2076.0,2204.0
top,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
freq,16.0,44.0,10.0,22.0,3.0,16.0,20.0,23.0,14.0,9.0,...,159.0,117.0,76.0,63.0,58.0,14.0,52.0,20.0,171.0,73.0

In [143]:
print(largenet_df.shape)

(2342, 74)

## Gap analysis

In [147]:
n,d = largenet_df.shape

In [150]:
cols_to_drop = []

for i in range(0,d):
    ticker = cols[i]
    current_gap = 0
    for j in range(0,n):
        if current_gap == 0:
            if largenet_df.iloc[j,i] == None:
                #print("Hello")
                current_gap += 1
                
        else:
            if j > 1:
                if (largenet_df.iloc[j,i] == None) & (largenet_df.iloc[j-1,i] == None):
                    current_gap += 1

                else:
                    current_gap = 0
                
        if (current_gap > max_gap_allowed) & (ticker not in cols_to_drop):
            #print(ticker)
            cols_to_drop.append(ticker)

8306.T
8411.T
8316.T
8308.T
8604.T
8309.T
8354.T
8331.T
8377.T
8355.T
NA.TO
UCG.MI
ISP.MI
BMPS.MI
UNI.MI
MQG.AX
600036.SS
600000.SS
600016.SS
000001.SZ
600015.SS
HSBA.L
BARC.L
BBVA.MC
SAB.MC
NDA-SE.ST
SHB-A.ST
SEB-A.ST
SWED-A.ST
BNP.PA
ACA.PA
316140.KS
055550.KS
024110.KS
UBSG.SW
DBK.DE
BIRG.IR
SBIN.NS
1155.KL

In [149]:
print("Number of tickers to drop: {}".format(len(cols_to_drop)))

Number of tickers to drop: 39

# Export final dataset